.pop-up-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px 15px;
  background-color: #fefefe;
  z-index: 50;

  text-align: center;
  border: none;
  border-radius: 15px;
}
.pop-up-feedback img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.contactsectionOne {
  height: 100vh;

  background-image: url(../assets/andrew-pons-oH9AuO20kbk-unsplash.jpg);
  background-position: center;
  background-size: cover;

  background-color: antiquewhite;
}

.heroSection {
  display: flex;
  justify-content: left;
  align-items: end;
  z-index: 100;
  height: 80%;
  padding-left: 100px;
}
.heroSection p {
  font-size: 30px;
  color: white;
}

/* form */

.contactForm {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline: 120px;
  padding-block: 100px;

  background-color: antiquewhite;
}

.left {
  flex: 1;
  text-align: center;
}
.left h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.left p {
  margin-block: 10px;
}

.right {
  flex: 2;
  max-width: 100%;
  min-width: 400px;
}
.right h1 {
  margin-bottom: 30px;
}
.right form {
  display: flex;
  flex-direction: column;
}
.right form .fname,
.email,
.subject,
.message {
  opacity: 0;
  color: red;
}
.right form input {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  outline: none;
}
.right form textarea {
  width: 100%;
  height: 100px;
  margin-block: 10px 0;
  padding: 5px 10px;
  outline: none;
  font-size: 16px;
}

.right div {
  display: flex;
  justify-content: left;
}
.right div input {
  margin-right: 10px;
  width: auto;
  height: none;
}
.right div label {
  margin-top: 0;
}
.right label {
  margin-top: 20px;
}

.right button {
  margin-top: 15px;
  font-size: 15px;
  background-color: #9dbdb8;
  max-width: 100px;
}

@media screen and (max-width: 864px) {
  .contactsectionOne {
    height: 50vh;
  }

  .contactForm {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 431px) {
  .contactForm {
    padding-inline: 50px;
  }
  .heroSection {
    padding-left: 30px;
    height: 90%;
  }

  .right {
    min-width: 200px;
  }
}
